<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om applikationen</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Startsida</a></li>
            <li><a href="/add">Lägg till kurs</a></li>
            <li><a href="/about">Om applikationen</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Om applikationen</h1>

        <section>
            <h2>Syfte</h2>
            <p>Syftet med denna applikation är att jag ska kunna digitalisera mitt CV från min studietid. Under sidan
                ”Lägg till kurs” kan jag lägga in de kurser som jag har läst. När jag klickar på knappen ”Lägg till
                kurs” läggs den till i databasen och visas under startsidan. För att radera en kurs finns en knapp på
                startsidan i varje rad i tabellen som man kan klicka på för att radera kursen.</p>

            <p>I denna uppgift har jag använt mig av databas-servern MySQL.</p>

            <h2>Slutsatser</h2>
            <p>Att har kunskap om hur man kan implementera databaser i sina webbapplikationer är något som jag tror man
                har mycket kunskap om i min framtida yrkesroll, vilket är en slutsats som jag har dragit från denna
                laboration. En annan slutsats jag har dragit är att det är lätt hänt att kod som man inte vill att alla
                besökare ska ha tillgång till hamnar publikt. Det gäller att man är noggrann med hur man skriver sin kod
                för att det ska vara så säkert som möjligt.</p>
            </section>
    </div>
</body>

</html>