<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till kurs</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Startsida</a></li>
            <li><a href="/add">Lägg till kurs</a></li>
            <li><a href="/about">Om applikationen</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Lägg till kurs</h1>

        <form action="/" method="post">
            <label for="coursecode">Kurskod:</label><br>
            <input type="text" id="coursecode" name="coursecode"><br>

            <label for="coursename">Kursnamn:</label><br>
            <input type="text" id="coursename" name="coursename"><br>

            <label for="syllabus">Kursplan:</label><br>
            <input type="text" name="syllabus" id="syllabus"><br>

            <label for="progression">Progression:</label><br>
            <input type="text" name="progression" id="progression"><br>

            <input type="submit" value="Lägg till kurs">
        </form>

    </div>

</body>

</html>