body {
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    list-style: none;
    gap: 100px;
    background-color: rgb(49, 49, 236);
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: rgb(29, 29, 133);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}